.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    max-width: 788px;
}

.content p,
.content li {
    font-size: 16px;
}

.header {
    text-align: center;
    margin: 24px 0;
}

@media (max-width: 640px) {
    .container {
        padding: 4px 12px;
    }
}
