
.container {
    cursor: pointer;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    color: var( --color-white);
    text-decoration: none;
}

.container:hover {
    color: var(--color-blue);
}