.container {
    margin: 64px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.contactLink,
.tcsLink, 
.privacyLink {
    cursor: pointer;
    font-size: 14px;
    line-height: 23px;
    font-weight: 400;
    color: var( --color-white);
    text-decoration: none;
}

.contactLink:hover,
.tcsLink:hover, 
.privacyLink:hover {
    color: var( --color-blue);
}

.company {
    font-size: 14px;
    line-height: 23px;
    font-weight: 400;
    color: lightgray;
    margin: 0;
}

@media (max-width: 640px) {
    .container {
        margin: 32px 0;
        flex-direction: column;
        align-items: center;
        gap: 8px;
    }
}