.container {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.spin {
    animation: rollout 2s;
}

@keyframes rollout {
    0% { transform: rotateY(0); }
    100% { transform: rotateY(356deg); }
}